extends layout

block content

    // Page Contents
    .pusher
        .ui.inverted.vertical.banner-img.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.active.item Home
                    a.item Wallet
                    a.item(href='/about') About
                    .right.item
                        a.ui.inverted.button Log in
                        a.ui.inverted.button Sign Up
            .ui.text.container
                h1.ui.inverted.header
                    | Innovation Tokens
                h2 Spend time.
                a.ui.huge.primary.button(href="/register")
                    | Get Started
                    i.right.arrow.icon
        .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        h3.ui.header About
                        p
                            | Innovation tokens is a program to encourage teams to innovate. It lets developers find time and track their work. It's fun and easy to get started.
                        p
                            | To get started, sign up your team and share with your developers!
                        h3.ui.header Why Join?
                        p
                            | Constantly learn new technologies and grow as a developer.
                        p
                            | Work on what interests you the most.
                        p
                            | Earn tokens by completing achievements and compete with others.
                    .six.wide.right.floated.column
                        img.ui.medium.image(src='/images/token.png')
        .ui.vertical.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    .column
                        h3 "Woah."
                        p That is what they all say about us
                    .column
                        h3 "Makes telling my boss off easy."
                        p - Anonymous

        include footer