extends layout

block content

    // Following Menu
    .ui.large.top.fixed.hidden.menu
        .ui.container
            a.active.item Home
            a.item Wallet
            a.item About
            .right.menu
                .item
                    a.ui.button Log in
                .item
                    a.ui.primary.button Sign Up

    // Sidebar Menu
    .ui.vertical.inverted.sidebar.menu
        a.active.item Home
        a.item Wallet
        a.item About
        a.item Login
        a.item Sign Up

    // Page Contents
    .pusher
        .ui.inverted.vertical.banner-img.masthead.center.aligned.segment
            .ui.container
                .ui.large.secondary.inverted.pointing.menu
                    a.toc.item
                        i.sidebar.icon
                    a.active.item Home
                    a.item Wallet
                    a.item About
                    .right.item
                        a.ui.inverted.button Log in
                        a.ui.inverted.button Sign Up
            .ui.text.container
                h1.ui.inverted.header
                    | Innovation Tokens
                h2 Spend time.
                .ui.huge.primary.button
                    | Get Started
                    i.right.arrow.icon
        .ui.vertical.stripe.segment
            .ui.middle.aligned.stackable.grid.container
                .row
                    .eight.wide.column
                        h3.ui.header We Help You Find Time
                        p
                            | Get Innovation Token allowance that you can spend developing cool new projects.
                        h3.ui.header Earn, Trade and Spend
                        p
                            | Earn, trade and spend your tokens however you want.
                    .six.wide.right.floated.column
                        img.ui.medium.image(src='/images/token.png')
                .row
                    .center.aligned.column
                        b
                        h2.ui.header What People Say
        .ui.vertical.stripe.quote.segment
            .ui.equal.width.stackable.internally.celled.grid
                .center.aligned.row
                    .column
                        h3 "Woah."
                        p That is what they all say about us
                    .column
                        h3 "Makes telling my boss off easy."
                        p - Anonymous
