
block content

    .ui.inverted.vertical.footer.segment
        .ui.center.aligned.container
            .ui.stackable.inverted.divided.grid
                .eight.wide.column
                    h4.ui.inverted.header Navigation
                    .ui.inverted.link.list
                        a.item(href='#') About
                        a.item(href='#') Login
                        a.item(href='#') Register
                        a.item(href='#') Leaderboards
                .eight.wide.column
                    h4.ui.inverted.header Contact Us
                    p
                        | For help, contact
                    p
                        | innovation.tokens@hrsdc-rhdcc.gc.ca
            .ui.inverted.section.divider
            .ui.horizontal.inverted.small.divided.link.list
                b
                h5 Innovation Tokens 2019
