
block content

    .ui.fixed.inverted.menu
        .ui.container
            a.header.item(href='/')
                | Innovation Tokens
            a.item(href='/') Home
            .ui.simple.dropdown.item
                | Dropdown
                i.dropdown.icon
                .menu
                    a.item(href='#') Link Item
                    a.item(href='#') Link Item
                    .divider
                    .header Header Item
                    .item
                        i.dropdown.icon
                        |             Sub Menu
                        .menu
                            a.item(href='#') Link Item
                            a.item(href='#') Link Item
                    a.item(href='#') Link Item
