
block content

    .ui.fixed.inverted.menu
        .ui.container
            a.header.item(href='/')
                | Innovation Tokens
            a.item(href='/') Home
            a.item(href='/') Wallet
            a.item(href='/about') About
