extends layout

block content

    include header

    .padding
        h1 Register

        form.ui.form(method='POST' action='/submit')
            .field
                label First Name
                input(type='text', name='first-name', placeholder='First Name')
            .field
                label Last Name
                input(type='text', name='last-name', placeholder='Last Name')
            .field
                label Team
                input(type='text', name='team', placeholder='')
            .field
                label Email
                input(type='email', name='email', placeholder='Email')
            .field
                label Public Key
                textarea(rows='2')
            .field
                .ui.checkbox
                    input(type='checkbox', tabindex='0')
                    label Receive notification emails.
            button.ui.button(type='submit') Submit

    include footer