extends layout

block content

    include header

    .ui.vertical.stripe.segment
        .ui.middle.aligned.stackable.grid.container
            .row
                .sixteen.wide.column
                    h1 Register

                    #register.ui.error.form.segment
                        .two.fields
                            .field
                                label First Name
                                input(placeholder='First Name', type='text')
                            .field
                                label Last Name
                                input(placeholder='Last Name', type='text')
                        .field
                            label Email
                            input(placeholder='Email', type='email')
                        .field
                            label Role
                            .ui.selection.dropdown
                                .default.text Select Team Role
                                i.dropdown.icon
                                input(type='hidden', name='role')
                                .menu
                                    .item(data-value='manager') Manager
                                    .item(data-value='developer') Developer
                                    .item(data-value='tester') Tester
                        .field
                            label Username
                            input(placeholder='Username', type='text')
                        .field
                            label Public Key
                            input(type='password')
                        .inline.field
                            .ui.checkbox
                                input(type='checkbox')
                                label Receive Notification Emails.
                        .ui.submit.button(onclick='validate()') Register

    include footer
